<ion-app>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>

      <ion-title>
        My App Header
      </ion-title>

      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="main-content" [fullscreen]="true">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>

  <ion-footer>
    <ion-toolbar color="light">
      <ion-title class="footer-title">
        My App Footer
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>
